* {
    text-align: center;
    font-family: 'Georgia';
    margin: 0;
}

body {
    overflow: hidden; /* Prevent body scrollbars caused by absolute positioning */
}

.background-container {
    background-image: url('https://w0.peakpx.com/wallpaper/785/663/HD-wallpaper-colorful-background-design-ultra-artistic-abstract-creative-colorful-lines-design-waves-background-flow-colourful-vivid-elegant-interesting-graphicdesign.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Send the background to the back */
}

.content-container {
    position: relative;
    z-index: 1; /* Bring the content to the front */
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 38px;
}

.titlepage {
    color: deeppink;
    background-color: aqua;
}

.undertitle {
    color: chartreuse;
    background-color: darkorange;
}

.word1 {
    color: deepskyblue;
    background-color: lightcoral;
}

.word2 {
    color: fuchsia;
    background-color: yellow;
}