body {
    background-color: lightcoral; 
}
h1{
    color: blue ;
    text-align: center;
}
h2{
    color: green;
}

@keyframes flash {
    0% { color: #fff; background-color: #ffcc00; }
    50% { color: #ffcc00; background-color: #fff; }
    100% { color: #fff; background-color: #ffcc00; }
}

h1 {
    font-size: 2em;
    padding: 20px;
    display: inline-block;
    animation: flash 2s infinite; /* Adjust the duration as needed */
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

h1:hover {
    box-shadow: 0 0 20px rgba(255, 204, 0, 0.8); /* Light-up effect on hover */
}


