<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group 1's Members</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 20px;
        }

        .person {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 15px;
            margin-bottom: 15px;
            background-color: #fff;
        }

        h2 {
            color: #333;
        }

        p {
            color: #666;
        }
    </style>
</head>
<body>
    <h1>Group Members</h1>
    <div class="person">
        <h2><a href="https://elsie090.github.io">Elsie Benko</a></h2>
        <p>Age: 35</p>
        <p>Description: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>

    <div class="person">
        <h2><a href="https://kirancvs.github.io">Kiran Gundloory</a></h2>
        <p>Age: 25</p>
        <p>Description: Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <div class="person">
        <h2><a href="https://coreyjiajinhe.github.io">Corey He</a></h2>
        <p>Age: 35</p>
        <p>Description: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>

    <div class="person">
        <h2> <a href="https://priyum3.github.io/">Priyum Mistry</a></h2>
        <p>Age: 30</p>
        <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="person">
        <h2> <a href="https://kevin0ta.github.io"> Kevin Ta</a></h2>
        <p>Age: 35</p>
        <p>Description: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
    <footer>
        <small>&copy; 2023 <a href="http://helloflask.com/book/3">HelloFlask</a></small>
    </footer>

</body>
</html>

